@use '../abstracts/' as *;

// contenedor padre para la seccion
.new-albums {
    width: auto;
    overflow: hidden;
    overflow-x: scroll;
    margin-block: $size-8;
    display: flex;
    flex-direction: column;
    border: 1px solid $color-primary-500;
    border-radius: .5rem;
    margin-inline: 8px;

    @include mq(large) {
        background: $color-primary-900;
        border: 1px solid transparent;
    }
    
    .new-albums-header {
        padding: $size-4;
        position: sticky;
        left: 0;
        display: flex;
        gap: $size-3;

        .powered-string {
            margin-block: $size-1;
            font-size: 12px;
            width: fit-content;

            a {
                color: $color-primary-100 !important;
                transition: 275ms;
                
                &:hover {
                    color: $color-primary-300 !important;
                    cursor: pointer;
                }
            }
        }
    }
    
    // contenedor scroll
    &__scroll-container {
        display: flex;
        
        // tarjeta para cada album
        .album {
            flex: 0 0 auto;
            width: 210px;
            list-style: none;
            display: flex;
            flex-direction: column;
            padding-inline: $size-2;

            // info para cada album
            &__info {
                display: grid;
                grid-template-rows: auto 1fr;
                min-height: 380px;
                width: 100%;
                padding: $size-2;
                text-decoration: none;
                color: $color-primary-200;
                border-radius: .2rem;
                transition: all 275ms ease;

                @include mq(large) {
                    &:hover {
                        background: $color-primary-800;
                    }
                }
            }

            &__header {
                overflow: hidden;

                .genres {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    hr {
                        width: 100%;
                        margin: 0 0 $size-1 0;
                    }
                    
                    .genre {
                        font-size: 13px;
                        color: $color-secondary-200;
                        text-transform: uppercase;
                    }
                }

                .album-cover {
                    width: 100%;
                    height: 200px;
                    overflow: hidden;
                    aspect-ratio: 1 / 1;
                    
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        display: block;
                        object-position: top;
                    }
                }
            }

            &__content {
                display: flex;
                flex-direction: column;

                .band {
                    font-size: $font-size-500;
                    color: $color-primary-100;
                    padding-block: $size-2;
                }

                .title {
                    color: $color-primary-300;
                    font-size: $font-size-300;
                    padding-block-end: $size-2;
                }

                .date {
                    color: $color-primary-300;
                    font-size: $font-size-300;
                }
            }
        }
    }
}