@use '../abstracts/' as *;

.blog-post {
    margin-block: $size-10;

    .post-header {
        &__meta-group {
            .post-title-group {
                h1 {
                    font-size: $font-size-700;
                    font-family: $font-family-semi-bold;
                }

                .extract {
                    font-size: $font-size-500;
                    margin-block-start: $size-3;
                }
            }

            .meta-primary {
                display: flex;
                gap: $size-4;
                margin-block: $size-4;
                
                a {
                    text-decoration: none;
                    color: $color-accent-300;
                }
            }
        }
    }

    &__subheader {
        margin-block: $size-8;

        @include mq(medium) {
            .image {
                display: flex;
                justify-content: center;
            }

            .extract {
                margin: 0 auto;
            }
        }
    }

    &__body {
        margin-block-start: 0;
        font-size: $font-size-500;
        line-height: 1.8;

        @include mq(large) {
            font-size: $font-size-600;
        }
    }
}