@use "../abstracts" as *;

.button {
  display: inline-flex;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
  font-family: $button-font-family;
  font-size: $button-font-size;
  text-transform: $button-text-transform;
  padding: $button-padding;
  border: $button-border;
  border-radius: $button-border-radius;
  transition: 275ms ease;

  &[data-type="accent"] {
    background-color: $button-accent-background;
    color: $button-accent-color;

    &:is(:hover, :focus) {
      background-color: $button-accent-background-hover;
      color: $button-accent-color-hover;
    }
  }

  &[data-type="primary"] {
    background-color: $button-primary-background;
    color: $button-primary-color;

    &:is(:hover, :focus) {
      background-color: $button-primary-background-hover;
      color: $button-primary-color-hover;
    }
  }

  &[data-type="form-login"],
  &[data-type="form-register"],
  &[data-type="verify-captcha"],
  &[data-type="reset-password"],
  &[data-type="recover-password"] {
    margin: auto;
    color: $color-neutral-800;
    background: linear-gradient(to right, $color-accent-400, $color-secondary-400);
    background-size: 200% 100%;
    transition: color 0.3s ease-in-out, background-position 0.3s ease-in-out;
    display: flex;
    align-items: center;
    gap: .5rem;

    &:hover {
        background-position: 100% 0%;
    }
  }

  &[data-type="form-register"] {
    background: linear-gradient(to right, $color-secondary-300, $color-secondary-100);
    width: 100%;

    @include mq(medium) {
      width: fit-content;
    }
  }

  &[data-type="form-step-next"],
  &[data-type="form-step-prev"] {
    background-color: $color-primary-500;
    padding: $size-3;
    border: 1px solid $color-primary-900;
    color: $color-neutral-100;
    width: 100%;
    margin: auto;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    
    &:hover {
      background-color: $color-primary-700
    }
    
    &:focus {
      background-color: $color-primary-900;
      color: $color-neutral-100;
    }

    @include mq(medium) {
      width: fit-content;
    }
  }

  &[data-type="like"] {
    background: transparent;
    border: none;
    color: $color-neutral-100;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $size-1;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0;
    cursor: pointer;

    svg {
      width: $size-9;
      height: $size-9;
      stroke: none;
      fill: $color-neutral-100;
      transition: transform 0.3s ease;
    }

    span {
      display: block;
      font-size: $font-size-500;
    }

    &.like-button--active {
      svg {
        fill: $color-accent-300;
      }
      .like-count {
        color: $color-accent-300;
      }
    }
  }

  &[data-type="pagination"] {
    border: 1px solid;
  }
}
