@use '../abstracts/' as *;

.captcha-container {
    @include form-input-styles($margin-block-end: 0);

    &__ui {
        display: flex;
        flex-direction: column;
        gap: $size-10;

        .captcha-error {
            display: block !important;
            color: #ef4444 !important;
            text-align: center;
            margin: 0.5rem 0;
            padding: 0.5rem;
            background: $color-neutral-100;
        }

        .disabled {
            opacity: 0.5;
            cursor: not-allowed;
            // animation: spin 1s linear infinite;
            min-height: 2rem;
        }

        @keyframes spin {
            from { transform: rotate(0deg); }
            to { transform: rotate(360deg); }
        }
    }
}
