@use "../abstracts/" as *;

.card {
  display: grid;
  gap: $card-flow-spacing;
  padding: $card-padding;
  background-color: $card-background-default;
  font-family: $card-font-family;
  color: $card-color-default;
  line-height: $card-line-height;
  box-shadow: $card-shadow;
  border-radius: $card-border-radius;

  @include mq(medium) {
    background: transparent;
    width: 620px;
    border: 1px solid $color-primary-500;
    border-radius: $border-radius-1
  }

  &__heading {
    @include heading($card-heading-font-size, $card-heading-color-default);
  }
}
