@use "../abstracts" as *;

.dropdown--sidebar {
    .dropdown-item {

        @include mq(large) {
            background: transparent;
            border-bottom: transparent;
        }

        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            height: 48px;
            transition: all 275ms ease;
            border-bottom: 1px solid $color-primary-500;
            
            @include mq(large) {
                justify-content: flex-start;

                &:hover {
                    background: $color-primary-900;
                 
                    .down-arrow-icon,
                    .up-arrow-icon {
                        path { fill: $color-secondary-100; }
                    }

                    a { color: $color-secondary-100; }
                }
            }

            a {
                color: $color-primary-100;
                text-decoration: none;
                font-size: $font-size-400;
                padding-inline: $size-2;
            }
        }

        .submenu {
            list-style: none;

            &-item {
                transition: all 275ms ease;
                @include mq(large) { &:hover { background: $color-primary-900; } }

                &::after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 1px;
                    background: $color-primary-700;
                }

                a {
                    text-decoration: none;
                    padding: $size-3 $size-2;
                    display: block;
                    font-size: $font-size-300;
                    
                    &:hover { color: $color-secondary-100; }
                }
            }
        }
    }
}

.dropdown--topbar {
    width: 100%;
    display: flex;
    gap: $size-4;

    .dropdown-item {
        position: relative;

        .header {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: auto;
            gap: $size-4;
            margin-inline: $size-4;
            padding: $size-2 $size-4;
            cursor: pointer;
            border: 1px solid transparent;
            transition: all 275ms ease;
            border-radius: $size-1;

            &:hover {
                border: 1px solid $color-primary-500;
                
                .down-arrow-icon, .up-arrow-icon {
                    path {
                        fill: $color-secondary-100;
                    }
                }

                a {
                    color: $color-secondary-100;
                }
            }
            
            a {
                text-decoration: none;
                color: $color-primary-200;
            }
        }

        .submenu {
            position: absolute;
            left: 0;
            background: $color-primary-900;
            padding: $size-4;
            list-style-type: none;
            width: 100%;
            border: 1px solid $color-primary-500;
            border-radius: $size-1;

            a {
                color: $color-primary-200;
                text-decoration: none;
                transition: all 275ms ease;
                padding-block: $size-2;
                display: block;
                font-size: $font-size-300;

                &:hover {
                    color: $color-secondary-100;
                    text-decoration: underline;
                }
            }
        }
    }
}