@use "../abstracts" as *;

.uphail-icon,
.comment-icon,
.author-icon,
.menu-icon,
.user-icon,
.home-icon,
.groups-icon {
  background: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  color: inherit;
  
  svg {
    transition: fill 0.2s ease;
  }
  
  path {
    fill: currentColor; /* Usa el color del botón */
  }
}