@use "../abstracts" as *;

.uphail-icon,
.comment-icon,
.author-icon,
.menu-icon,
.user-icon,
.home-icon,
.groups-icon,
.reply-icon,
.delete-icon,
.youtube-icon,
.instagram-icon,
.threads-icon,
.tiktok-icon {
  background: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  color: inherit;
  display: block;
  width: fit-content;
  
  svg, path {
    transition: all 0.2s ease;
  }
  
  /* path {
    fill: currentColor;
  } */
}

.delete-icon {
  background-color: transparent;
}

.reply-icon, .delete-icon {
  path{
    fill: transparent;
  }
}