@use '../abstracts/' as *;

.list-post {
    .intro {
        margin-block: $size-4;
    }

    .list-item {
        margin-block: $size-8;

        .resource-title {
            font-weight: 600;
        }

        .resource-description {
            padding-block: $size-2;
        }

        .resource-item {
            [data-youtube-video] {
                iframe {
                    border: none;
                }
            }
        }
    }
}
