@use '../abstracts/' as *;

.fi {
    min-height: 100vh;

    .fi-body, .fi-panel-member {
        min-height: 100vh;

        .fi-layout {
            display: flex;
            min-height: 100vh;
            width: 100%;
            flex-direction: row-reverse;
        
            .fi-main-ctn {
                width: 100vw;
                flex: 1;
                flex-direction: column;
                height: 100%;
                opacity: 0;
                margin-left: 0px;

                @include mq(large) {
                    margin-left: 0px;
                }
        
                .fi-main {
                    padding-inline: $size-12;
                    width: 100%;

                    .fi-page {
                        section {
                            .fi-header {
                                font-size: $font-size-500;
                                margin-block: $size-8;
                            }
                        }
                    }
                }

                &.fi-main-ctn-sidebar-open {
                    width: 250px;
                    
                    @include mq(large) {
                        margin-left: 250px;
                    }
                }

                .fi-topbar {
                    background: $color-primary-900;
                    padding: $size-4;
                    overflow-x: clip;
                    position: sticky;
                    top: 0;

                    nav {
                        display: flex;
                        align-items: center;
                        height: $size-8;
                        justify-content: flex-end;

                        // boton del sidebar
                        .fi-icon-btn {
                            display: none;
                        }

                        div {
                            display: flex;
                            align-items: center;

                            @include mq(large) {
                                padding-inline: $size-4;
                            }
                            
                            .fi-dropdown {
                                .fi-dropdown-trigger {
                                    display: flex;
                                    align-items: center;
                                    cursor: pointer;
                    
                                    button {
                                        flex-shrink: 0;
                                        border: none;
                                        background: transparent;
                    
                                        .fi-avatar {
                                            object-fit: cover;
                                            cursor: pointer;
                                            object-position: center;
                                            border-radius: 50%;
                                            height: $size-9;
                                            width: $size-9;
                                        }
                                    }
                                }

                                .fi-dropdown-panel {
                                    position: absolute;
                                    z-index: 10;
                                    border-radius: $border-radius-1;
                                    background: $color-primary-900;
                                    border: 1px solid $color-primary-500;

                                    .fi-dropdown-header {
                                        display: flex;
                                        width: 100%;
                                        gap: $size-2;
                                        padding: $size-3;
                                        
                                        .fi-dropdown-header-icon {
                                            height: $size-5;
                                            width: $size-5;
                                        }

                                        .fi-dropdown-header-label {
                                            flex: 1;
                                            text-align: start;
                                            font-weight: $font-weight-semi-bold;
                                        }
                                    }

                                    .fi-dropdown-list {
                                        margin-block-end: $size-3;
                                        padding: 0;

                                        .fi-dropdown-list-item {
                                            height: 24px;
                                            background: transparent;
                                            border: none;
                                            color: $color-neutral-100;
                                            display: flex;
                                            width: 100%;
                                            align-items: center;
                                            gap: $size-2;	
                                            white-space: nowrap;
                                            border-radius: .5rem;
                                            padding: $size-2;
                                            font-size: 14px;
                                            transition: color, background-color, border, 75ms cubic-bezier(0.4, 0, 0.2, 1);
                                            outline: none;
                                            cursor: pointer;

                                            &:hover, &:focus {
                                                background: $color-primary-800;
                                                color: $color-neutral-100;
                                                padding: $size-2;
                                            }

                                            .fi-dropdown-list-item-icon {
                                                height: 18px;
                                                width: 18px;
                                            }
                                        }
                                    }
                                }

                                .fi-dropdown-panel > *:nth-child(2) { // theme-switcher
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        
            .fi-main-ctn-sidebar-open {
                margin-left: 0px;
            }

           .fi-sidebar-close-overlay {
                position: fixed;
                inset: 0;
                z-index: 30;
                transition-duration: 375ms;
                
                @include mq(large) {
                    display: none;
                }
            }

            .fi-sidebar {
                position: fixed;
                inset-block: 0;
                inset-inline-start: 0;
                align-content: flex-start;
                display: flex;
                flex-direction: column;
                height: 100vh;
                z-index: 30;
                transition-property: all;
                transition: width 375ms ease;
                border-right: 1px solid $color-primary-500;
                box-shadow: $box-shadow-5;
        
                &.fi-sidebar-open {
                    width: 250px;
                }

                @include mq(large) {
                    position: sticky;
                    z-index: 0;
                    transition: none;
                }
        
                & > div {
                    overflow-x: clip;
                    display: flex;
        
                    .fi-sidebar-header {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin: $size-4;

                        a {
                            display: block;
                            text-decoration: none;
                        }

                        .fi-icon-btn {
                            position: relative;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: $border-radius-1;
                            outline: none;
                            transition-duration: 75ms;
                            height: 30px;
                            width: 30px;
                            cursor: pointer;
                            border: none;
                            background: transparent;
        
                            &:hover, :focus {
                                outline: 2px solid $color-accent-200;
                                background: $color-primary-900;
                            }
                            
                            .fi-icon-btn-icon {
                                height: $size-6;
                                width: $size-6;
                                stroke: $color-neutral-100;
                            }
                        }
                    }
                }
        
                .fi-sidebar-nav {
                    display: flex;
                    width: 100%;
                    flex-direction: column;
                    overflow-y: auto;
                    overflow-x: hidden;
                    
                    @include mq(large) {
                        padding: 0;
                        margin-block: $size-4;
                    }
        
                    .fi-sidebar-nav-groups {
                        display: flex;
                        flex-direction: column;
                        margin-left: 0;

                        @include mq(large) {
                            margin-left: 15px;
                        }
        
                        .fi-sidebar-group {
                            display: flex;
                            flex-direction: column;
        
                            .fi-sidebar-group-items {
                                display: flex;
                                flex-direction: column;
        
                                .fi-sidebar-item {
                                    display: flex;
                                    flex-direction: column;
                                    width: 100%;
        
                                    .fi-sidebar-item-button {
                                        position: relative;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        outline: none;
                                        transition-duration: 75ms;
                                        margin-block: $size-4;
                                        width: 100%;
                                        border-radius: .5rem;
                                        padding: $size-2;
                                        text-decoration: none;
        
                                        @include mq(large) {
                                            &:hover, &:focus {
                                                background: $color-primary-900;
                                            }
                                        }
                                        
                                        svg.fi-sidebar-item-icon{
                                            height: 24px;
                                            width: 24px;
                                            color: $color-accent-200;
                                        }
        
                                        .fi-sidebar-item-label {
                                            font-size: $font-size-300;
                                            margin-left: $size-2;
                                            color: $color-neutral-100;
                                            flex: 1;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        
            .fi-main-sidebar {
                background: $color-primary-900;
                
                @include mq(large) {
                    background: transparent;
                }
            }
        
            .fi-sidebar-open {
                position: absolute;
                z-index: 50;
                width: 250px;
                transform: translateX(0);
                box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
            }
        }
    }
}