@use "../abstracts" as *;
@use "sass:map" as map;

@mixin nav-logo {
  font-size: 1.5rem;
  text-decoration: none;
  color: $color-primary-100;
  font-family: $navigation-font-family-wordmark;
}

@mixin link-hover {
  &:hover {
    background-color: $color-primary-900;
    transition: background-color 0.3s ease;
  }
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin site-links {
  margin-block: $size-3;
  padding: $size-5;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: $size-4;

  @include mq(large) {
    font-size: $font-size-600;
  }
}

.nav {
  position: relative;

    &__visible {
      @include flex-between;
      background-color: $color-primary-900;
      padding: $size-4;

    &__toggle {
      width: 50px;
      flex-shrink: 0;
    }

    &__logo {
      @include nav-logo;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      width: fit-content;
    }

    &__links {
      display: none;
    }

    &__auth {
      margin-left: auto;
      width: 50px;
      flex-shrink: 0;
      display: flex;
      justify-content: flex-end;
    }

    @include mq(large) {
      &__toggle {
        width: auto;
        margin-right: $size-4;
      }

      &__logo {
        position: static;
        transform: none;
        margin-right: auto;
        padding-left: $size-4;
      }

      &__links {
        display: flex;
        gap: $size-5;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }

      &__auth {
        width: auto;
      }
    }
  }

  &__hidden {
    /* posicion inicial */
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100dvh;    
    left: -100%;
    transition: left 0.3s ease;
    /* visuales */
    background: linear-gradient(
      to bottom right,
      rgba(64, 64, 104, .8) 0%,
      rgba(104, 94, 183, 0.8) 100%
    );
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: left 0.3s ease;

    /* posición abierta */
    &.active {
      left: 0;
    }

    &__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: $color-primary-900;
      padding: $size-4;

      &__logo {
        @include nav-logo;
      }
    }

    &__menu {
      display: flex;
      flex-direction: column;
      gap: $size-8;

      &__links {
        & {
          margin-top: $size-5;
        }

        a {
          @include site-links;
          @include link-hover;

          & {
            padding-block: $size-2;
          }

          &:hover {
            background-color: $color-primary-900;
            transition: background-color 0.3s ease;
          }
        }
      }

      &__blog,
      &__groups,
      &__settings {
        display: flex;
        flex-direction: column;

        a {
          padding-block: $size-2;
          padding: $size-5;
          color: $color-primary-200;
          font-size: $font-size-500;
          @include link-hover;
        }

        h2 {
          padding-block-end: 4px;
          padding-left: $size-5;
          font-family: $font-family-semi-bold;
        }
      }
    }
  }
}