@use "../abstracts" as *;
@use "sass:map" as map;

@mixin nav-logo {
  font-size: 1.5rem;
  text-decoration: none;
  color: $color-primary-100;
  font-family: $navigation-font-family-wordmark;
}

@mixin link-hover {
  & { color: $color-primary-100; } 
  
  &:hover {
    background-color: $color-primary-900;
    transition: background-color 0.3s ease;
  }
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin auth-links {
  color: $color-primary-100;
  padding: $size-3 0;
  border-radius: 0;
  padding-inline: $size-2;
  display: block;
  text-align: left;
  width: 100%;

  &:hover {
    background: $color-primary-900;
  }
}

.nav {
  position: fixed;
  z-index: 1000;
  width: 100%;
  left: 0;
  top: 0;

  &__visible {
    @include flex-between;
    background-color: $color-primary-900;
    padding: $size-4;

    &__toggle {
      width: 50px;
      flex-shrink: 0;
    }

    &__logo {
      @include nav-logo;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      width: fit-content;
    }

    &__links {
      display: none;
    }

    &__auth {
      margin-left: auto;
      width: 50px;
      flex-shrink: 0;
      font-size: $font-size-300;
      text-align: center;
    }

    @include mq(large) {
      &__toggle {
        width: auto;
        margin-right: $size-4;
      }

      &__logo {
        position: static;
        transform: none;
        margin-right: auto;
        padding-left: $size-4;
      }

      &__links {
        display: flex;
        gap: $size-5;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }

      &__auth {
        font-size: $font-size-400;
        width: auto;
      }
    }
  }

  &__hidden {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    left: -100%;
    height: 100dvh;
    overflow-y: auto;
    transition: left 0.3s ease;
    background: linear-gradient(
      to bottom right,
      rgba(64, 64, 104, .8) 0%,
      rgba(104, 94, 183, 0.8) 100%
    );
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: left 0.3s ease;

    &.active { left: 0; }

    &__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: $color-primary-900;
      padding: $size-4;

      &__logo {
        @include nav-logo;
      }
    }

    &__menu {
      display: flex;
      flex-direction: column;
      gap: $size-8;
      padding: $size-8 $size-4;

      &__links {
        h2 { font-family: $font-family-semi-bold; }
        
        a {
          display: block;
          padding-block: $size-3;
          @include link-hover();
          padding-inline-start: $size-2;
        }
      }

      &__blog,
      &__groups {
        display: flex;
        flex-direction: column;

        a { @include link-hover; }
        h2 { font-family: $font-family-semi-bold; }
      }

      &__settings {
        h2 { font-family: $font-family-semi-bold; }

        .login-btn { @include auth-links(); }

        form {
          .logout-btn {
            @include auth-links();
          }
        }
      }
    }
  }
}

.menu {
  &.active {
    left: 0;
  }
}

.layout-selector {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-block-start: $size-12;
  
  .button[data-type="ghost"] {
    color: $color-primary-200;
    padding: $size-5;
    font-size: $font-size-500;
    border-bottom: 1px solid $color-primary-300;
    width: 100%;
    border-radius: 0;

    &.active {
      border-bottom: 2px solid $color-primary-100;
    }
  }

  @include mq(large) {
    display: none;
  }
}