@use "../abstracts/" as *;

.site-footer {
  background-color: $footer-background-color;
  color: $footer-text-color;
  padding: $size-8;

  a {
    color: $footer-link-color;
    text-decoration: $footer-link-text-decoration;
    font-family: $footer-link-font-family;
    letter-spacing: $letter-spacing-loose;

    &:is(:hover, :focus) {
      color: $footer-link-color-hover;
    }
  }

  &__container {
    margin: $size-5;

    @include mq(large) {
      display: flex;
    }

    &__logo {
      text-align: center;
    
      @include mq(large) {
        text-align: start;
        flex: 1;
        align-self: flex-start;
      }
  
      .icons-group {
        padding-block: $size-8;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
  
        @include mq(medium) {
          padding-block: $size-4;
          gap: $size-10;
          width: fit-content;
        }
      }
    }
  
    &__groups {
      flex: 2;
      margin-block: $size-8;
      display: flex;
      flex-direction: column;
  
      @include mq(medium) {
        flex-direction: row;
        justify-content: space-around;
      }
  
      .footer-group {
        margin-block: $size-3;
        
        h2 {
          font-size: $font-size-500;
          padding-block: $size-2;
        }
    
        ul > li {
          padding-block: $size-1;
        }
      }
    }
  }


  .thank-you {
    text-align: center;
    width: 100%;
    display: block;
    font-size: $font-size-400;
    padding-block: $size-4;
  }
}
