@use '../abstracts/' as *;

@mixin post-styles(
    $img-height: 100%,
    $img-width: 100%,
    $title-font-size: $font-size-700,
    $extract-padding-block: $size-4,
) {
    display: flex;
    flex-direction: column;
    color: $color-primary-300;
    padding: $size-6;
    
    picture {
        order: 3;
        display: block;
        height: $img-height;
        width: $img-width;
        overflow: hidden;

        .post-thumbnail {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    h2 {
        order: 1;
        color: $color-primary-100;
        font-size: $title-font-size;
        font-family: $font-family-medium;
    }

    .extract {
        order: 2;
        line-height: 1.8;
        color: $color-primary-300;
        padding-block: $extract-padding-block;
    }

    .post-info {
        display: none;

        @include mq(medium) {
            order: 4;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
    
            &__upvotes, &__comments {
                display: flex;
            }
        }
    }
}

// nuevo layout para escritorio


// aqui usar el orden de las etiquetas html
.newest-staff-post {
    @include post-styles
}

.leaderboard {
    padding: $size-6;

    h2 {
        font-size: $font-size-300;
        font-family: $font-family-semi-bold;
    }

    &__info {
        display: flex;
        align-items: center;
        gap: $size-4;
        padding: $size-2;
        margin-block-start: $size-3;

        &__title {
            line-height: 1.6;
            color: $color-primary-300;
        }

        &__likes {
            border: 1px solid $color-primary-400;
            padding: $size-4;
            color: $color-primary-300;
            border-radius: .3rem;
        }
    }
}

.secondary-posts > div {
    @include post-styles(
        $img-height: 200px,
        $img-width: 100%,
        $title-font-size: $font-size-500,
        $extract-padding-block: 0,
    );
}

.community-posts {
    padding: $size-6;

    &__wrapper {
        &__post-title {
            padding-block-end: $size-3;
            a {
                text-decoration: none;
                color: $color-primary-100;
                font-family: $font-family-medium;
                font-size: $font-size-500;
            }
        }
        
        &__author {
            text-decoration: none;
            color: $color-primary-100;
        }
    }
}