@use '../abstracts/' as *;

@mixin featured-post-styles(
    $img-height: 300px,
    $img-width: 100%,
    $title-font-size: $font-size-700,
    $extract-padding-block: $size-4,
) {
    display: flex;
    flex-direction: column;
    color: $color-primary-300;
    padding: $size-6;

    picture {
        order: 3;
        display: block;
        height: $img-height;
        width: $img-width;
        overflow: hidden;

        .post-thumbnail {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    h2 {
        order: 1;
        color: $color-primary-100;
        font-size: $title-font-size;
        font-family: $font-family-medium;
    }

    .extract {
        order: 2;
        line-height: 1.8;
        color: $color-primary-300;
        padding-block: $extract-padding-block;
    }

    .post-info {
        display: none;
    }

    @include mq(medium) {
        padding: 0;
        transition: all 0.1s ease-in-out;
        
        &:hover {
            background-color: $color-primary-900;
            border-radius: .2rem;
        }

        picture {
            order: 1;
        }

        h2 {
            order: 2;
            padding-block: $size-2;
        }

        .extract {
            order: 3;
            padding: 0;
        }

        .post-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            order: 4;
            padding-block: $size-4;
            justify-content: flex-start;
            gap: $size-4;
            width: 100%;
            font-size: $font-size-300;

            a {
                text-decoration: none;
                color: $color-primary-300;
                padding: .5rem;
                transition: all 0.2s ease-in-out;

                &:hover {
                    color: $color-accent-100;
                    background-color: $color-primary-800;
                    border-radius: .3rem;
                }
            }

            &__upvotes, &__comments {
                display: flex;
                gap: $size-1;
                padding: .5rem;
                transition: all 0.2s ease-in-out;

                svg path {
                    fill: currentColor;
                    transition: fill 0.2s ease-in-out;
                    height: 18px;
                }

                span {
                    transition: color 0.2s ease-in-out;
                }

                &:hover {
                    background-color: $color-primary-800;
                    border-radius: .3rem;
                    color: $color-accent-300;
                }
            }
        }
    }

    @include mq(large) {
        padding: $size-3;
    }
}

@mixin header-section-styles(
) {
    margin-block-start: $size-6;
    margin-inline: $size-6;

    h2 {
        font-size: $font-size-300;
        color: $color-accent-200;
        font-family: $font-family-semi-bold;
    }
}

// diseño para tabletas
@include mq(medium) {
    .welcome-grid {
        display: grid;
        grid-template-columns: .7fr 1fr;
        grid-template-rows: min-content min-content min-content min-content 1fr;
        padding: 36px 24px;
        gap: 24px;
        position: relative;
    }

    .leaderboard {
        grid-column: 1;
        grid-row: 1;
    }

    .community-posts {
        &[data-type="first-batch"] {
            grid-column: 1;
            grid-row: 2;
        }

        &[data-type="second-batch"] {
            grid-column: 1;
            grid-row: 3;
        }
    }

    .featured-post {
        &[data-type="main"] {
            grid-column: 2;
            grid-row: 1;
        }

        &[data-type="secondary"] {
            grid-column: 2;
            grid-row: 2;
        }

        &[data-type="last-three"] {
            grid-column: 2;
            grid-row: 3;
        }
    }

    .staff-posts {
        grid-column: 1 / span 2;
        grid-row: 5 ;
    }

    .grid-border {
        position: absolute;
        top: 2%;
        bottom: 1.5%;
        width: 1px;
        background: $color-primary-400;
        opacity: .4;
        margin: 0;
        border: none;
        z-index: 1;


        &[data-type="left"] {
            left: 25.50%;
        }
    
        &[data-type="right"] {
            right: 25.50%;
        }
    }

}

// diseño para escritorio
@include mq(large) {
    .welcome-grid {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, min-content);
        max-width: 1308px;
        padding: 36px 24px;
        
    }

    // en el frontend dice "more posts"
    .staff-posts {
        grid-column: 1;
        grid-row: 1;
    }

    .featured-post {
        &[data-type="main"] {
            grid-column: 2 / 4;
            grid-row: 1;
        }

        &[data-type="secondary"] {
            grid-column: 2 / 4;
            grid-row: 2;
        }

        &[data-type="last-three"] {
            grid-column: 2 / 4;
            grid-row: 3;
        }
    }

    .leaderboard {
        grid-column: 4/5;
        grid-row: 1;
    }

    .community-posts {
        &[data-type="first-batch"] {
            grid-column: 4;
        }

        &[data-type="second-batch"] {
            grid-column: 4;
            grid-row: 3;
            
            .header-section {
                display: none;
            }
        }
    }
}

// diseño para móviles
.featured-post {
    .header-section {
        @include header-section-styles();
        @include mq(medium) {
            margin-inline-start: 0;
            margin-block-start: 0;
        }
        // solo visible para el grupo de 3 
        @include mq(large) {
            margin-inline-start: $size-3;
            margin-block-start: 0;
        }
    }
}

.featured-post > a {
    @include featured-post-styles;
}

.leaderboard {
    padding: $size-6;

    .header-section {
        @include header-section-styles();
        margin-left: 0;
        margin-block-start: 0;

        @include mq(large) {
            margin-inline-start: $size-3;
        }
    }

    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-block-start: $size-3;
        gap: $size-1;

        &__title {
            line-height: 1.6;
            color: $color-primary-100;
            font-size: $font-size-500;
            margin-top: .3rem;
        }

        &__author {
            font-size: $font-size-300;
            color: $color-primary-300;
        }

        &__likes {
            border: 1px solid $color-primary-400;
            padding: $size-3;
            color: $color-primary-300;
            border-radius: .3rem;
        }
    }

    @include mq(medium) {
        padding: 0;
        padding-block-start: 0;
        padding-block-end: $size-5;
    }

    @include mq(large) {
        padding: $size-3;
        padding-block-start: 0;

        &__info {
            padding: $size-3;
            transition: all 0.1s ease-in-out;

            &:hover {
                background-color: $color-primary-900;
                border-radius: .3rem;
            }

            &__title {
                font-size: $font-size-400;
            }
        }
    }
}

// estilos para grupos
.featured-post > article > a {
    @include featured-post-styles (
        $img-height: 200px,
        $img-width: 100%,
        $title-font-size: $font-size-700,
        $extract-padding-block: 0,
    );
    // no hay hover, asi que no se necesita el padding
    padding-block-start: 0;

    @include mq(medium) {
        
        picture {
            margin-block-start: $size-6;
        }

        .post-info {
            padding-block: 0;

            &__upvotes {
                span {
                    &::after {
                        content: '';
                    }
                }
            }

            &__comments {
                span {
                    &::after {
                        content: '';
                    }
                }
            }
        }
    }

    @include mq(large) {
        transition: all 0.1s ease-in-out;
        padding-block: 0;

        .extract {
            margin: 0;
        }

        .post-info {
            padding-block-start: $size-3;
            padding-block-end: 0;
            
            &__upvotes, &__comments {
                display: flex;
            }

            &__upvotes {
                span {
                    &::after {
                        content: '';
                    }
                }
            }

            &__comments {
                span {
                    &::after {
                        content: '';
                    }
                }
            }
        }

        &:hover {
            background-color: $color-primary-900;
            border-radius: .2rem;
        }
        
        h2 {
            font-size: $font-size-600;
        }
    }
}

@include mq(medium) {
    .featured-post[data-type="secondary"] > article > a {
        display: flex;
        flex-direction: row;
        align-self: flex-start;
        margin-block-end: $size-6;
        gap: 0;
        padding-block: 0;

        .post-content {
            padding-inline-end: $size-4;
            flex: 2;
            min-width: 0;

            h2 {
                font-size: $font-size-600;
                font-family: $font-family-base;
            }

            .post-info {
                &__upvotes {
                    span {
                        &::after {
                            content: '';
                        }
                    }
                }
    
                &__comments {
                    span {
                        &::after {
                            content: '';
                        }
                    }
                }
            }
        }

        picture {
            flex: 1;
            order: 2;
            align-self: flex-start;
            max-height: 150px;
            margin-block-start: $size-3;
        }
    }

    .featured-post[data-type="last-three"] > article > a {
        .post-content {
            h2 {
                font-size: $font-size-500;
            }
        }
        picture {
            display: none;
        }
    }
}

@include mq(large) {

    .featured-post[data-type="main"] {
        > a {
            .post-info {
                padding-block-end: 0
            }
        }
    }

    .featured-post[data-type="secondary"] {
        display: grid;
        grid-template-areas:
        "post1 post2";
        grid-template-columns: repeat(2, 1fr);
        column-gap: $size-4;

        .header-section {
            display: none;
        }

        article:nth-child(1) {
            grid-area: post1;
        }
        article:nth-child(2) {
            grid-area: post2;
        }

        > article {
            > a {
                display: flex;
                flex-direction: column;

                picture {
                    order: 1;
                    align-self: stretch;
                }
            }

            .post-content {
                order: 2;
                display: flex;
                flex-direction: column;

                .post-info {
                    padding-block-end: $size-3;
                }

                .extract {
                    flex-grow: 1;
                }
            }
        }
    }

    .featured-post[data-type="last-three"] > article > a {
        flex-direction: row;
        align-items: center;
        gap: $size-3;
        padding-block: $size-3;

        .post-content {
            flex: 5;
            min-width: 0;
        }

        picture {
            display: block;
            flex: 3;
            order: 2;
            align-self: center;
            margin-block-start: 0;

            .post-thubmail {
                width: 100%;
                max-height: 200px;
                object-fit: cover;
                border-radius: 0.5rem;
            }
        }
    }
}

.staff-posts {
    // dice more posts en el frontend
    .header-section {
        @include header-section-styles();
        
        @include mq(medium) {
            margin-inline-start: 0;
        }

        @include mq(large) {
            margin-inline-start: $size-3;
        }
    }
    
    article > a {
        @include featured-post-styles(
            $img-height: 200px,
            $img-width: 100%,
            $title-font-size: $font-size-600,
        );
        
        padding-block-start: 0;

        @include mq(medium) {
            picture {
                height: 180px;
            }

            h2 {
                font-size: $font-size-500;
                font-family: $font-family-base;
                padding-left: 0;
            }
        }

        @include mq(large) {
            padding: $size-3;
            padding-block-end: 0;

            .extract {
                display: none;
            }

            picture {
                height: 220px;
            }

            h2 {
                font-size: $font-size-400;
                padding: 0;
            }

            .post-info {
                padding-block: $size-2;
            }
        }
    }
}

.community-posts {
    padding: $size-6;

    .header-section {
        @include header-section-styles();
        margin-left: 0;

        @include mq(medium) {
            margin-block-start: 0;
        }

        @include mq(large) {
            margin-inline-start: $size-3;
        }
    }

    .cta {
        padding: $size-3;
        background-color: $color-extra-100;
        color: $color-neutral-900;

        &__register-btn {
            margin-block-start: $size-5;
            display: block;
            text-align: center;
            padding: $size-3;
            color: $color-neutral-100;
            font-family: $font-family-semi-bold;
            border: transparent;
            text-decoration: none;

            background: linear-gradient(to right, $color-accent-400, $color-extra-400);
            background-size: 200% 100%;
            transition: color 0.3s ease-in-out, background-position 0.3s ease-in-out;
            
            &:after {
                content: 'become an author';
            }

            &:hover {
                background-position: 100% 0%;
                color: $color-neutral-800;

                &:after {
                    content: 'now!!';
                }
            }
        }
    }

    &__wrapper {
        &__post-title {
            padding-block-end: $size-3;
            color: $color-primary-100;
            text-decoration: none;
            font-size: $font-size-500;
        }

        &__post-details {
            display: flex;
            justify-content: flex-start;
            gap: .5rem;
            
            div {
                display: none;
            }

            .author {
                text-decoration: none;
                color: $color-primary-300;
            }
        }
    }

    @include mq(medium) {
        padding: 0;
        
        &__wrapper {
            &__post-details {
                div {
                    display: flex;
                    align-items: center;
                    gap: .4rem;
                    font-size: $font-size-300;
                    color: $color-primary-300;

                    svg {
                        path {
                            stroke: $color-primary-400;
                        }

                        @include mq(medium) {
                            height: 18px;
                        }
                    }

                    span {
                        display: hidden;
                    }
                }

                .author {
                    font-size: $font-size-300;
                }
            }
        }
    }

    @include mq(large) {
        padding: $size-3;
    
        &__wrapper {
            padding: $size-3;
            transition: all 0.1s ease-in-out;

            &__post-title {
                font-size: $font-size-400;
                padding-block-end: $size-1;
            }
    
            &:hover {
                background-color: $color-primary-900;
                border-radius: .3rem;
            }

            &__post-details {
                text-decoration: none;
                color: $color-primary-300;
                transition: all 0.2s ease-in-out;
                font-size: $font-size-300;

                .author {
                    padding: .4rem;
                    transition: all 0.2s ease-in-out;

                    &:hover {
                        color: $color-accent-100;
                        background-color: $color-primary-800;
                        border-radius: .3rem;
                    }
                }
            }
        }
    }
}