@use "../abstracts/" as *;

.container {
  --padding: #{$container-min-margin-inline} * 2;
  --max-width: #{$container-max-width};

  width: min(100% - var(--padding), var(--max-width));
  margin-inline: auto;
}

.container[data-type="narrow"] {
  --max-width: #{$container-max-width-narrow};
}
.container[data-type="wide"] {
  --max-width: #{$container-max-width-wide};
}
.container[data-type="full-bleed"] {
  --max-width: 100%;
}
.container[data-type="blog-post"] {
  display: grid;
  justify-content: center;
  grid-template-columns: minmax(auto, 64ch);

  @include mq(large) {
    &[data-align="start"] {
      justify-content: start;
    }
  }
}
.container[data-type="extra-wide"]{
  --max-width: #{$container-max-width-extra-wide};
  --padding: 0;

  @include mq(medium) {
    --padding: #{$container-min-margin-inline} * 2;
  }
}
.container[data-type="dashboard"] {
  --max-width: #{$container-max-width-wide};
  --padding: #{$container-min-margin-inline} * 2;

  @include mq(medium) {
    --padding: #{$container-min-margin-inline} * 12;
  }
}