@use '../abstracts/' as *;

@mixin list-styles {
  ul {
    list-style: none;
    padding-left: 1em;
  }

  ul li {
    position: relative;
  }

  ul li::before {
    content: "•";
    position: absolute;
    left: -16px;
    top: 5px;
    color: $color-primary-300;
    font-size: 1.2em;
    line-height: 1;
  }

  ol {
    list-style: none;
    counter-reset: item;
    padding-left: 1.5em;
  }

  ol li {
    counter-increment: item;
    position: relative;
  }

  ol li::before {
    content: counter(item) ". ";
    position: absolute;
    left: -24px;
    color: $color-primary-300;
    font-size: 16px;
    font-family: $font-family-medium;
  }
}

/* posts editoriales, plantilla story */
.blog-post {
  &__body {
    em {
      font-style: italic;
    }

    strong {
      font-weight: 600;
    }

    h2 {
        display: block;
        font-size: 1.5em;
        font-weight: bold;
        margin-block-end: .8rem;
    }

    @include list-styles;
  }
}

/* posts de miembros, plantilla "standard" o "post" */
.post-member {
  .post-body {
    @include list-styles;
  }
}