@use "../abstracts/" as *;

.ff-base {
  font-family: $font-family-base;
}
.ff-accent {
  font-family: $font-family-semi-bold;
}
.ff-logo {
  font-family: $font-family-display;
}
.ff-medium {
  font-family: $font-family-medium;
}