// global color tokens
$-clr-white: hsl(0 0% 100%);
$-clr-gray-100: hsl(0 0% 95%);
$-clr-gray-200: hsl(0 0% 82.5%);
$-clr-gray-300: hsl(0 0% 70%);
$-clr-gray-400: hsl(0 0% 60%);
$-clr-gray-500: hsl(0 0% 50%);
$-clr-gray-600: hsl(0 0% 40%);
$-clr-gray-700: hsl(0 0% 30%);
$-clr-gray-800: hsl(0 0% 17.5%);
$-clr-gray-900: hsl(0 0% 7.5%);
$-clr-black: hsl(0 0% 0%);

$-clr-morado-100: hsla(226.15, 35.14%, 92.75%, 1);
$-clr-morado-200: hsla(229.57, 35.38%, 87.25%, 1);
$-clr-morado-300: hsla(226.5, 36.36%, 78.43%, 1);
$-clr-morado-400: hsla(228.62, 35.37%, 67.84%, 1);
$-clr-morado-500: hsla(236.76, 31.09%, 53.33%, 1);
$-clr-morado-600: hsla(239.15, 28.98%, 48.04%, 1);
$-clr-morado-700: hsla(241.03, 26.61%, 42.75%, 1);
$-clr-morado-800: hsla(240, 23.81%, 32.94%, 1);
$-clr-morado-900: hsla(242.61, 21.5%, 20.98%, 1);
$-clr-morado-950: hsla(240, 20.69%, 14.71%, 1);

$-clr-turkesa-100: hsla(190.91, 67.12%, 91.18%, 1);
$-clr-turkesa-200: hsla(191.43, 68.04%, 83.14%, 1);
$-clr-turkesa-300: hsla(191.19, 68.29%, 70.20%, 1);
$-clr-turkesa-400: hsla(191.71, 68.83%, 48.82%, 1);
$-clr-turkesa-500: hsla(191.81, 64.71%, 43.92%, 1);
$-clr-turkesa-600: hsla(192.63, 61.54%, 38.43%, 1);
$-clr-turkesa-700: hsla(193.85, 55.56%, 31.76%, 1);
$-clr-turkesa-800: hsla(194.48, 48.31%, 27.06%, 1);
$-clr-turkesa-900: hsla(196.36, 41.38%, 23.53%, 1);
$-clr-turkesa-950: hsla(197.14, 51.85%, 15.29%, 1);

$-clr-verde-100: hsla(72, 100%, 89%, 1);
$-clr-verde-200: hsla(75, 100%, 79%, 1);
$-clr-verde-300: hsla(77, 100%, 64%, 1);
$-clr-verde-400: hsla(75, 92%, 55%, 1); 
$-clr-verde-500: hsla(73, 96%, 44%, 1); 
$-clr-verde-600: hsla(73, 100%, 35%, 1);
$-clr-verde-700: hsla(74, 93%, 27%, 1); 
$-clr-verde-800: hsla(75, 82%, 23%, 1); 
$-clr-verde-900: hsla(76, 73%, 20%, 1); 
$-clr-verde-950: hsla(78, 89%, 10%, 1);

$-clr-rojo-100: hsl(0, 93.1%, 60.2%);
$-clr-rojo-200: hsl(0, 81.22%, 41.76%);

$base: (
  "neutral": (
    "000": $-clr-white,
    "100": $-clr-gray-100,
    "200": $-clr-gray-200,
    "300": $-clr-gray-300,
    "400": $-clr-gray-400,
    "500": $-clr-gray-500,
    "600": $-clr-gray-600,
    "700": $-clr-gray-700,
    "800": $-clr-gray-800,
    "900": $-clr-gray-900,
    "1000": $-clr-black,
  ),
    "primary": (
    "100": $-clr-morado-100,
    "200": $-clr-morado-200,
    "300": $-clr-morado-300,
    "400": $-clr-morado-400,
    "500": $-clr-morado-500,
    "600": $-clr-morado-600,
    "700": $-clr-morado-700,
    "800": $-clr-morado-800,
    "900": $-clr-morado-900,
  ),
    "secondary": (
    "100": $-clr-turkesa-100,
    "200": $-clr-turkesa-200,
    "300": $-clr-turkesa-300,
    "400": $-clr-turkesa-400,
    "500": $-clr-turkesa-500,
    "600": $-clr-turkesa-600,
    "700": $-clr-turkesa-700,
    "800": $-clr-turkesa-800,
    "900": $-clr-turkesa-900,
  ),
    "accent": (
    "100": $-clr-verde-100,
    "200": $-clr-verde-200,
    "300": $-clr-verde-300,
    "400": $-clr-verde-400,
    "500": $-clr-verde-500,
    "600": $-clr-verde-600,
    "700": $-clr-verde-700,
    "800": $-clr-verde-800,
    "900": $-clr-verde-900,
  ),
  "error": (
    "100": $-clr-rojo-100,
    "200": $-clr-rojo-200,
  )
);

/* $dark: (
  "neutral": (
    "1000": $-clr-white,
    "900": $-clr-gray-100,
    "800": $-clr-gray-200,
    "700": $-clr-gray-300,
    "600": $-clr-gray-400,
    "500": $-clr-gray-500,
    "400": $-clr-gray-600,
    "300": $-clr-gray-700,
    "200": $-clr-gray-800,
    "100": $-clr-gray-900,
    "000": $-clr-black,
  ),
  "accent": (
    "900": $-clr-turkesa-900,
    "800": $-clr-turkesa-800,
    "700": $-clr-turkesa-700,
    "600": $-clr-turkesa-600,
    "500": $-clr-turkesa-500,
    "400": $-clr-turkesa-400,
    "300": $-clr-turkesa-300,
    "200": $-clr-turkesa-200,
    "100": $-clr-turkesa-100,
  ),
  "primary": (
    "900": $-clr-morado-900,
    "800": $-clr-morado-800,
    "700": $-clr-morado-700,
    "600": $-clr-morado-600,
    "500": $-clr-morado-500,
    "400": $-clr-morado-400,
    "300": $-clr-morado-300,
    "200": $-clr-morado-200,
    "100": $-clr-morado-100,
  ),
); */

// contextual color tokens
$color-neutral-000: var(--neutral-000);
$color-neutral-100: var(--neutral-100);
$color-neutral-200: var(--neutral-200);
$color-neutral-300: var(--neutral-300);
$color-neutral-400: var(--neutral-400);
$color-neutral-500: var(--neutral-500);
$color-neutral-600: var(--neutral-600);
$color-neutral-700: var(--neutral-700);
$color-neutral-800: var(--neutral-800);
$color-neutral-900: var(--neutral-900);
$color-neutral-1000: var(--neutral-1000);

$color-primary-100: var(--primary-100);
$color-primary-200: var(--primary-200);
$color-primary-300: var(--primary-300);
$color-primary-400: var(--primary-400);
$color-primary-500: var(--primary-500);
$color-primary-600: var(--primary-600);
$color-primary-700: var(--primary-700);
$color-primary-800: var(--primary-800);
$color-primary-900: var(--primary-900);

$color-secondary-100: var(--secondary-100);
$color-secondary-200: var(--secondary-200);
$color-secondary-300: var(--secondary-300);
$color-secondary-400: var(--secondary-400);
$color-secondary-500: var(--secondary-500);
$color-secondary-600: var(--secondary-600);
$color-secondary-700: var(--secondary-700);
$color-secondary-800: var(--secondary-800);
$color-secondary-900: var(--secondary-900);

$color-accent-100: var(--accent-100);
$color-accent-200: var(--accent-200);
$color-accent-300: var(--accent-300);
$color-accent-400: var(--accent-400);
$color-accent-500: var(--accent-500);
$color-accent-600: var(--accent-600);
$color-accent-700: var(--accent-700);
$color-accent-800: var(--accent-800);
$color-accent-900: var(--accent-900);

$color-error-100: var(--error-100);
$color-error-200: var(--error-200);