@use "sass:meta";
@use "sass:math";
@use "sass:map";
@use "breakpoints" as *;
@use "tokens" as *;

@mixin mq($size) {
  @if map.has-key($breakpoints, $size) {
    $breakpoint: map.get($breakpoints, $size);
    @media screen and (min-width: $breakpoint) {
      @content;
    }
  } @else if meta.type-of($size) == number {
    @if math.is-unitless($size) {
      @error 'when using a number with @mq() make sure to include a unit';
    } @else {
      @media screen and (min-width: $size) {
        @content;
      }
    }
  } @else {
    @error 'the keyword #{$size} is not in the $breakpoints map';
  }
}

@mixin heading($fs, $color: $heading-color-default) {
  font-size: $fs;
  color: $color;

  font-family: $heading-font-family;
  text-transform: $heading-text-transform;
  letter-spacing: $heading-letter-spacing;
  font-weight: $heading-font-weight;
  line-height: $heading-line-height;
}

@mixin form-input-styles($margin-block-end) {
  input {
    background: transparent;
    border: transparent;
    border-bottom: 1px solid $form-input-border-color;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    transition: outline 0.2s ease-in-out;
    margin-block-end: $margin-block-end;
    padding-block-start: $form-input-padding-block-start;
    color: $form-input-border-color;

    &:focus {
      outline: transparent solid;
      background-color: $form-input-background-color-focused;
    }
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active,
  input:autofill,
  input:autofill:hover,
  input:autofill:focus,
  input:autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px $form-input-background-color-focused inset !important;
    -webkit-text-fill-color: $form-input-border-color !important;
    box-shadow: 0 0 0px 1000px $form-input-background-color-focused inset !important;
    background-color: $form-input-background-color-focused !important;
  }
}

@mixin share-menu-base {
}

@mixin share-menu-mobile {
  position: absolute;
  bottom: 68px;
  right: 0;
  background-color: $footer-background-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .5rem;

  div {
    color: $footer-text-color;
    margin-block: .3rem;
  }
}

@mixin share-menu-desktop {
  display: flex;
  margin-inline: .5rem;
  margin-block: .5rem;
  border: 1px solid hsla(228.62, 35.37%, 67.84%, 1);

  > div {
    display: flex;
    align-items: center;
    gap: 1.4rem;
    padding: 1rem;

    &:hover {
      color: #F4FFC7;
    }
  }
}